test -f .envrc.secret && source .envrc.secret

export MONGO_PASS=`cat secret.txt`
export MONGO_URL="mongodb+srv://nailbiter:$MONGO_PASS@cluster0-ta3pc.gcp.mongodb.net/test?authSource=admin&replicaSet=Cluster0-shard-0&readPreference=primary&appname=MongoDB%20Compass&ssl=true"
export CARD_URL="https://trello.com/c/cZnbqfQt"
