target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# vim files
*.swp
*.swo

# secrets
secret.txt

#mongo
.*.flag.txt

#other
.DS_Store
__pycache__

src/main/resources/eldrinkopubbot.tsv
.envrc.secret
download_cache.db
Digraph.gv*
.token.json
client_secret.json
.telegram_probe.sqlite3
