APScheduler==3.6.3
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cryptography==3.3.2
decorator==4.4.2
dnspython==2.0.0
Flask==1.1.2
graphviz==0.16
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.2
jsonpath-ng==1.5.2
MarkupSafe==1.1.1
numpy==1.19.5
oauthlib==2.1.0
pandas==1.1.5
ply==3.11
pycparser==2.20
Pygments==2.7.3
pygments-pprint-sql==0.1.0
pymongo==3.11.2
python-dateutil==2.8.1
python-telegram-bot==13.1
pytz==2020.5
requests==2.22.0
requests-oauthlib==1.1.0
six==1.15.0
tornado==6.1
tqdm==4.56.0
tzlocal==2.1
urllib3==1.26.5
Werkzeug==1.0.1
