<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %l - %msg%n" />
        </Console>
        <File name="MyJsonFile" fileName=".log/${sys:filename}_${date:yyyy-MM-dd_HH:mm:ss}.json" immediateFlush="true" append="false">
            <JsonLayout compact="true" eventEol="true" locationInfo="true"/>
        </File>
        <File name="MyFile" fileName=".log/${sys:filename}.txt" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} %-5level %l - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="MyFile"/>
            <AppenderRef ref="MyJsonFile"/>
        </Root>
    </Loggers>
</Configuration>
