<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <form action="/{{action}}" method="POST">
        {%for k,v in r.items()%}
        <p>{{k}}</p>
        {%if v=="text"%}
        <input name="{{k}}" type="text"></input>
        {%else%}
        <select name="{{k}}">
          {%for vv in v%}
          <option value="{{vv}}">{{vv}}</option>
          {%endfor%}
        </select>
        {%endif%}
        {%endfor%}
        <br>
        <br>
        <input type="submit" value="submit"><input type="reset" value="reset">
      </form>
  </body>
</html>
